<!-- app/views/todos/index.html.erb -->
<%= form_with model: Todo.new, local: true do |form| %>
  <%= form.text_field :title %>
  <%= form.submit '+' %>
<% end %>

<ul>
  <!-- app/views/todos/index.html.erb -->
  <% @todos.each do |todo| %>
    <li id="todo_<%= todo.id %>">
      <%= form_with model: todo, local: true, remote: true do |form| %>
        <%= form.check_box :completed, onchange: 'this.form.submit()' %>
        <%= form.label :title, todo.title %>
      <% end %>
    </li>
  <% end %>
</ul>